extends ./layouts/index

block contenido 
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid" )
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Error velit fugit consectetur voluptatum quibusdam dolore, placeat possimus laudantium laboriosam in impedit, et quasi aspernatur. Nobis cumque asperiores impedit repudiandae corporis!

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime laudantium quasi odit nesciunt laborum nihil sit labore ipsam vel temporibus, soluta voluptatem distinctio tempora praesentium explicabo qui itaque ut accusantium?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi assumenda dolores consectetur neque. Quis, ipsum nesciunt praesentium quisquam incidunt expedita exercitationem soluta alias, ea laudantium, magni illum unde voluptatibus cum.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img=fluid mb-4")
                    h2.mb-4 Seguridad 
                    p At ut cupiditate, repellendus repudiandae, similique facilis iure nesciunt voluptates ex eligendi animi eos. Nisi quasi tempora dolorem consequuntur sint officia eum.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono Destinos", class="img=fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p At ut cupiditate, repellendus repudiandae, similique facilis iure nesciunt voluptates ex eligendi animi eos. Nisi quasi tempora dolorem consequuntur sint officia eum.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono Seguridad", class="img=fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p At ut cupiditate, repellendus repudiandae, similique facilis iure nesciunt voluptates ex eligendi animi eos. Nisi quasi tempora dolorem consequuntur sint officia eum.

                    